body {
  background-color: #2f4050;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-horizontal {
  width: 500px;
  height: 340px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form-horizontal .form-group {
  width: 470px;
}
.form-horizontal .form-group button {
  background-color: #ff69b4;
  color: #fff;
}
.form-horizontal .form-logo {
  position: absolute;
  width: 140px;
  top: 0;
  transform: translateY(-50%);
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #ff69b4;
}
